@use "variables";

ul {
  list-style-type: none;
}

.tree {
  line-height: 2rem;
  & > li:after,
  & > li:before {
    display: none;
  }

  details:hover {
    ul li::after,
    ul li::before {
      border-color: variables.$color6;
    }
  }

  summary {
    cursor: pointer;
    list-style-type: none;
    font-size: 1rem;
    // color: variables.$color1;

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }
  }

  li {
    position: relative;
    margin-left: 20px;
    padding: 0 5px;

    &:before {
      position: absolute;
      left: -10px;
      top: 0;
      border-left: 2px solid variables.$gray3;
      border-bottom: 2px solid variables.$gray3;
      content: "";
      width: 8px;
      height: 1rem;
    }

    &::after {
      position: absolute;
      left: -10px;
      bottom: 0;
      border-left: 2px solid variables.$gray3;
      content: "";
      width: 8px;
      height: 100%;
    }

    &:last-child::after {
      display: none;
    }

    span::before {
      content: "";
      padding-right: 0.4rem;
      font-size: 1.3rem;
    }
  }
}

details {
  summary {
    color: variables.$gray4;
    &::before {
      content: "";
      padding-right: 0.4rem;
      padding-left: 0.4rem;
    }
  }

  &[open] > summary {
    color: variables.$color6;
    &::before {
      content: "";
    }
  }
}

li.li-html {
  color: variables.$red;
  span::before {
    content: "";
  }
}

li.li-css {
  color: variables.$blue;
  span::before {
    content: "󰌜";
  }
}
li.li-sass {
  color: variables.$pink;
  span::before {
    content: "";
  }
}
li.li-js {
  color: variables.$yellow;
  span::before {
    content: "";
  }
}

li.li-bash {
  color: variables.$green;
  span::before {
    content: "";
  }
}

li.li-lua {
  color: variables.$blue;
  span::before {
    content: "";
  }
}
li.li-server {
  color: variables.$blue;
  span::before {
    content: "󰒋";
  }
}
li.li-other {
  color: variables.$color7;
  span::before {
    content: "󰈔";
  }
}

li.li-linux {
  color: variables.$yellow;
  span::before {
    content: "";
    font-style: bold;
  }
}
li.li-vim {
  color: variables.$green;
  span::before {
    content: "";
  }
}
li.li-git {
  color: variables.$red;
  span::before {
    content: "";
  }
}
li.li-gimp {
  color: variables.$orange;
  span::before {
    content: "";
  }
}
li.li-inkscape {
  color: variables.$blue;
  span::before {
    content: "";
  }
}
li.li-pixelorama {
  color: variables.$green;
  span::before {
    content: "";
    display: inline-block;
    margin-right: 0.4rem;
    width: 0.7rem;
    height: 1rem;
    background-image: url("../img/PixeloramaPortable_128.png");
    background-size: 100%;
    background-size: cover;
  }
}
li.li-synsig {
  color: variables.$blue;
  span::before {
    content: "";
    display: inline-block;
    margin-right: 0.4rem;
    width: 0.7rem;
    height: 1rem;
    background-image: url("../img/synfig-studio.png");
    background-size: 100%;
    background-size: cover;
  }
}

li.li-paint {
  color: variables.$orange;
  span::before {
    content: "";
  }
}
