@use "variables";
@use "tree-skill";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: variables.$color0;
  color: variables.$color7;
  height: 99%;
  font-family: "BigBlueTerm";
}

p {
  font-size: 0.8em;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.1em;
  }
  p,
  a {
    font-size: .8em;
  }
}

.max-size {
  width: 95%;
  max-width: 1000px;
  height: 99vh;
  max-height: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: no-wrap;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  width: 65%;
  height: 99%;
  z-index: 100;
}

aside {
  width: 35%;
  z-index: 50;
}

@media (max-width: 576px) {
  .max-size {
    display: block;
    width: 100%;
    height: 80vh;
  }

  main {
    position: absolute;
    width: 95%;
    height: 80%;
    margin: auto;
    left: 0;
    right: 0;
    top: 5rem;
  }

  aside {
    position: absolute;
    width: 99%;
    height: 99%;
  }
}

/// nav
nav {
  width: 100%;
  height: auto;

  ul {
    li {
      margin: auto;
      width: 80%;
      text-align: center;
      margin: 10px auto;
      padding: 5px;

      a {
        text-decoration: none;
        color: variables.$color7;
      }
    }

    li:first-child {
      @include variables.nav-btn(variables.$color1);
      &:hover {
        @include variables.nav-btn-active(variables.$color1);
      }
      &.btn-active {
        @include variables.nav-btn-active(variables.$color1);
      }
    }
    li:nth-child(2) {
      @include variables.nav-btn(variables.$color2);
      &:hover {
        @include variables.nav-btn-active(variables.$color2);
      }
      &.btn-active {
        @include variables.nav-btn-active(variables.$color2);
      }
    }
    li:nth-child(3) {
      @include variables.nav-btn(variables.$color3);
      &:hover {
        @include variables.nav-btn-active(variables.$color3);
      }
      &.btn-active {
        @include variables.nav-btn-active(variables.$color3);
      }
    }
  }
}

@media (max-width: 576px) {
  nav {
    width: 80%;
    margin: auto;
    padding-top: 10px;
    ul {
      display: flex;
      li {
        width: 100%;
        margin: 10px;
      }
    }
  }
}

// about
.about {
  width: 90%;
  height: 70%;
  margin: auto;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box1 {
  border: 2px solid variables.$color5;
  padding: 10px;
  padding-top: 0;
  margin: 20px 0;

  .box1-title {
    color: variables.$color5;
    position: relative;
    top: -13px;
    background-color: variables.$color0;
    padding: 0 10px;
    display: inline-block;
  }

  .box1-content {
    padding: 0 3px;
    padding-bottom: 10px;
  }
}

#contact {
  li {
    a {
      text-decoration: none;
      color: variables.$color6;
    }
    a:hover {
      color: variables.$color1;
    }
  }

  li:first-child {
    a:before {
      content: "󰊤 ";
      font-size: 1.2em;
    }
  }
  li:nth-child(2) {
    a:before {
      content: " ";
      font-size: 1.2em;
    }
  }
  li:nth-child(3) {
    a:before {
      content: "󰇮 ";
      font-size: 1.2em;
    }
  }
}
.img-avatar {
  width: 100%;
  height: auto;
  min-height: 10rem;
  max-width: 15rem;
  overflow: hidden;
  margin: auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/// modal pages
.modal-pages {
  max-height: 100%;
  background-color: variables.$color0;
  display: none;

  div {
    overflow: scroll;
    max-height: 83vh;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &:first-child {
    border-color: variables.$color1;
    .box1-title {
      color: variables.$color1;
    }
  }
  &:nth-of-type(2) {
    border-color: variables.$color2;
    .box1-title {
      color: variables.$color2;
    }
  }
  &:nth-of-type(3) {
    border-color: variables.$color3;
    .box1-title {
      color: variables.$color3;
    }
  }
}

.active {
  display: block;
}

@media (max-width: 576px) {
  .modal-pages {
    height: 90%;
    background-color: variables.$color0;

    div {
      overflow: scroll;
      height: 90%;
    }
  }
}
