*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/img01.jpg);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(184, 177, 169);
}

/*//////////////////////////////////////////////
//                                            //
//           Cabesera                       // */

.banner{
    width: auto;
    height: 210px;
    background-image: url(../images/img02.jpg);
}

.logo{
    width: 1000px;
    height: 70%;
    margin: 0px auto;
}

.logo h1, .logo p{
    height: auto;
    float: left;
}

.logo h1{
    font-weight: bold;
    font-size: 35px;
    padding-top: 80px;
    color: antiquewhite;
}

.logo p{
    font-size: 13px;
    color: darkgray;
    font-style: italic;
    padding-top: 95px;
    padding-left: 10px;
    text-transform: uppercase;
}

/*//////////////////////////////////////////////
//                                            //
//           Navegacion                       // */

.nav-1{
    width: 1000px;
    height: 30%;
    margin: 0px auto;
}

.nav-1 ul{
    list-style: none;
}

.nav-1 ul li{
    display: inline;
}

.nav-1 ul li a{
    text-decoration: none;
    font-size: 15px;
    float: left;
    padding: 20px 15px 0px 10px;
    text-transform: uppercase;
}

.linkActivo{
    color: antiquewhite;
}

.linkNoactivo{
    color: darkgray;
}

.linkNoactivo:hover{
    color: rgb(221, 221, 221);
}

/*//////////////////////////////////////////////
//                                            //
//           Contenido                        // */

#cont-main{
    width: 1000px;
    height: 1000px;
    margin: 0px auto;
    margin-top: 20px;
}

.contenido{
    width: 500px;
    height: auto;
    display: inline-block;
    margin: 15px;
}

#img-cabezeraArticulo{
    width: auto;
    height: auto;
}

.articulo{
    width: 100%;
    height: auto;
    margin-top: 25px;
    
}

.articulo hgroup{
    width: auto;
    height: 90px;
    background-image: url(../images/img06.jpg);
}

.articulo hgroup h1{
    font-size: 25px;
    color: antiquewhite;
    padding: 5px 0px 5px 15px;
}

.articulo hgroup p{
    color: rgb(131, 131, 131);
    font-style: italic;
    padding: 0px 0px 5px 15px;
}

.articulo p{
    font-size: 16px;
    color: rgb(184, 177, 169);
    margin: 10px 10px 10px 10px;
}

.articulo footer{
    text-align: right;
}

.articulo footer p{
    color: rgb(131, 131, 131);
    font-style: italic;
    padding: 0px 0px 5px 15px;
}

/*//////////////////////////////////////////////
//                                            //
//           Culunas asides                  */

.coluna{
    float: right;
    width: 200px;
    height: auto;
    margin: 15px;
    background-image: url(../images/img03.jpg);
    background-repeat: repeat-y;
    background-position: left top;    
    font-size: 14px;
}

.coluna ul{
    list-style: none;
    padding: 0 15px;
}

.coluna li{
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    background-image: url(../images/img06.jpg);
    background-repeat: repeat-x;
    background-position: left top;    
}

.coluna li h2{
    color: antiquewhite;
    padding: 5px 10px;
}

.coluna li li{
    width: 100%;
    height: auto;
    margin: 0px 0px;
    padding: 5px 0px;

    border: 0;
    background-image: url(../images/img04.jpg);
    background-repeat: repeat-x;
    background-position: left bottom; 
}

a{
    text-decoration: none;
    color: rgb(184, 177, 169);
}

a:hover{
    color: antiquewhite;
    text-decoration: underline;
}

#form-busqueda{
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

#busquedad{
    width: 120px;
    height: 20px;
    margin: 20px 20px;
}

.coluna li p{
    margin: 15px;
}

#caledario{
    width: 100%;
    height: 150px;
    padding: 0;
    text-align: center;
}

#caledario tbody{
    color: rgb(131, 131, 131);
}

#mes-anterio{
    text-align: left;
    font-weight: bold;
}
#mes-sugiente{
    text-align: right;
    font-weight: bold;
}

#mes-anterio:hover{
    cursor: pointer;
}

#mes-sugiente:hover{
    cursor: pointer;
}

.hoy{
    color: rgb(221, 221, 221);
}

.pie-pajina{
    margin-top: 50px;
    background-color: black;
    padding: 45px;
    text-align: center;
}